body {
  font-family: $font-base;
  background: #ffffff;
}

.container {
  max-width: 1900px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border: 0.75px solid $color-shade-first;
  padding: 0.25rem 0.5rem;
  color: #3C3C3C;
  background: none;
}