.home--columns {
  background: url("../../assets/3ColumnsBackground.png");
}
.columns--content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 24rem;
  .column {
    text-align: center;
    width: 20rem;
    h3 {
      font-size: 5.5rem;
      font-weight: 300;
      color: #5E5322;
    }
    :nth-child(2) {
      font-size: 1rem;
      color: #3C3C3C;
      letter-spacing: -0.36px;
      text-transform: uppercase;
      margin: 1.75rem 0;
    }
    :nth-child(3) {
      font-size: 1rem;
      font-family: $font-alt;
      font-weight: 300;
      color: #3C3C3C;
      letter-spacing: -0.32px;
      line-height: 1.5rem;
    }
  }
}