.footer--info {
    width: 50%;
    margin: 16rem 0 1.25rem 50%;
    //margin-top: 16rem;
    //margin-bottom: 1.25rem;
    //margin-left: 50%;
    display: flex;
    justify-content: space-between;

    p {
        font-size: 1.125rem;
    //margin: 0 36rem;
    }
    img {
        margin-right: 1rem;
    }
    div {

    }
}