.section--table {
  display: flex;
  justify-content: center;
}

.homeHelpTable {
  width: 70%;
  margin: 6rem 2rem;
  div:nth-child(2) {
    border-bottom: 1px solid $color-shade-third;
    border-top: 1px solid $color-shade-third;
  }
}

.helpTable--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  font-family: $font-alt;
  margin: 0.5rem 0;
  span{
    text-align: left;
    :nth-child(1) {
      font-size: 1.625rem;
      line-height: 2rem;
      font-weight: 300;
    }
    :nth-child(2) {
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 1.5rem;

    }
    p {
      font-size: 1.125rem;
      font-weight: 300;

    }
  }
}