.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  .login--form {
    text-align: center;
    p {
      font-size: 2.5rem;
      margin: 1.5rem;
    }
    img {
      margin-bottom: 4rem;
    }
  }
}
form {
  text-align: left;
}

.labels {
  :nth-child(2) {
    display: block;
    height: 2.5rem;
  }
  padding: 2rem 3.5rem;
  background: $color-shade-fourth;
  label {
    //margin: 1rem 0;
    //padding-bottom: 3rem;
    //font-size: 1rem;
    margin-bottom: 2rem;
    input {
      background: none;
      border: none;
      border-bottom: 1px solid $color-shade-third;
      width: 15rem;
      height: 2.5rem;
    }
  }
}