.navbars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 2.5rem 8rem 0 0;
}
.nav--log {
  font-size: 0.875rem;
  color: $color-shade-third;
  margin-bottom: 1rem;
  li {
    display: inline-block;
    margin: 0.625rem;
    a {
      padding: 0.5rem;
      color: $color-shade-second;
      text-decoration: none;
      border: 0.75px solid white;
      &.selected {
        border: 0.75px solid $color-complementary;
      }
      &:hover {
        border: 0.75px solid $color-complementary;
      }
    }
  }
}


.nav--home {
  font-size: 1.125rem;
  color: $color-shade-first;
  li {
    display: inline-block;
    margin: 1rem;
    a {
      text-decoration: none;
      color: $color-shade-first;
      padding: 0.5rem;
      border: 0.75px solid white;
      &.selected--home {
        border: 0.75px solid $color-shade-first;
      }
      &:hover {
        border: 0.75px solid $color-shade-first;
      }
    }
  }
}

