.newAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  .newAccount--form {
    text-align: center;
    p {
      font-size: 2.5rem;
      margin: 1.5rem;
      letter-spacing: -0.8px;
    }
    img {
      margin-bottom: 4rem;
    }
  }
}
form {
  text-align: left;
}

.labels {
  :nth-child(2) {
    display: block;
    height: 2.5rem;
  }
  padding: 2.5rem 3.5rem 3rem 2.5rem;
  background: $color-shade-fourth;
  label {
    margin-bottom: 2rem;
    font-family: $font-base;
    font-weight: 600;
    font-size: 1rem;
    input {
      background: none;
      border: none;
      border-bottom: 1px solid $color-shade-third;
      width: 15rem;
      height: 2.5rem;
    }
  }
}
.btn {
  font-family: $font-base;
  font-size: 1.125rem;
  padding: 0.8rem 1rem;
  font-weight: 300;
  margin-top: 3rem;
  border: 0.75px solid white;
  &:hover {
    border: 0.75px solid $color-shade-first;

  }

}
div.form--btns {
  display: flex;
  justify-content: space-between;
}